{% extends 'tracker/layout.html' %}
{% load static %}

{% block title %}
    Account
{% endblock %}

{% block head %}
    <script src={% static "account_editing.js" %}></script>
{% endblock %}

{% block body %}
    <h2 class="text-center py-3">Account Settings</h2>

	<ul class="list-group col-md-9 mx-auto">
        <li id="change-username-li" class="list-group-item list-group-item-action">
            <h4>Current Username:</h4>
            <input disabled id="old-username" class="form-control" type="text" value="{{ user.username }}">

            <button id="change-username-btn" class="btn btn-primary mt-3" onclick="open_username_editing()">Change Username</button>
        </li>

        <li id="change-password-li" class="list-group-item list-group-item-action">
            <h4>Password Settings</h4>
            <button id="change-password-btn" class="btn btn-primary" onclick="open_password_editing()">Change Password</button>
        </li>

        <li id="change-name-li" class="list-group-item list-group-item-action">
            <h4>Current Centre Name:</h4>
            <input disabled id="old-name" class="form-control" type="text" value="{{ centre.name }}">

            <button id="change-name-btn" class="btn btn-primary mt-3" onclick="open_attr_editing('name')">Change Name</button>
        </li>

        <li id="change-location-li" class="list-group-item list-group-item-action">
            <h4>Current Location:</h4>
            <input disabled id="old-location" class="form-control" type="text" value="{{ centre.location }}">

            <button id="change-location-btn" class="btn btn-primary mt-3" onclick="open_attr_editing('location')">Change Location</button>
        </li>

        <li id="change-image-li" class="list-group-item list-group-item-action">
            <h4>Current Image:</h4>
            {% if centre.image_url != None %}
                <img id="old-image" alt="An image of your centre" src="{{ centre.image_url }}" height="300" width="auto">
            {% else %}
                <input disabled id="old-image" class="form-control" type="text" value="No image chosen">
            {% endif %}
            <div>
                <button id="change-image-btn" class="btn btn-primary mt-3" onclick="open_image_editing()">Change Image</button>
            </div>
        </li>
    </ul>
{% endblock %}

<!-- TODO: Possibly split into user and centre settings -->