{% extends "tracker/layout.html" %}
{% load static %}

{% block title %}
    All Centres
{% endblock %}

{% block head %}
    <script src="{% static 'centres_display.js' %}"></script>
{% endblock %}

{% block body %}
    <h1 class="text-center">All Centres</h1>

    <!-- TODO: Add paginated centres here -->
    <ul class="pagination justify-content-center">
        <li class="page-item"><button id="page-previous-btn" class="page-link" onclick="{page_num-=1; load_page()}">Previous</button></li>
        <li class="page-item"><button id="page-next-btn" class="page-link" onclick="{page_num+=1; load_page()}">Next</button></li>
    </ul>
    <hr>

    <ul class="list-group" id="centres-display"></ul>
{% endblock %}