{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Climbing Tracker{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    {% block head %}{% endblock %}
</head>

<body>
    {% csrf_token %}

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="">The Tracker</a>

        <div>
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" {% if request.session.type == "Centre" %} href="{% url 'account_centre' %}" {% else %} href="#" {% endif %}>
                            <strong id="username-link">{{ user.username }}</strong>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">All Centres</a>
                </li>
                {% if user.is_authenticated %}
                        <li class="nav-item">
                            {% if type == "Climber" %}
                                <a class="nav-link" href="#">Your Centres</a>
                            {% endif %}
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Display messages -->
    <div class="mx-3 mt-3">
        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="body mx-auto">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>