.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.navbar-light {
    background: #18c512;
}

a {
    color: black;
    text-underline: none;
}

a:hover {
    color: blue;
}

.interactable {
    cursor: pointer;
}